<main>
    {% for i in 1..100 %}
        <div>
            <article>
                <a href="">
                    <header>Tytuł przepisu</header>
                    <img src="https://picsum.photos/500/500" alt="Tytuł przepisu">
                </a>
            </article>
        </div>
    {% endfor %}
</main>